<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Detalles de las Ciudades</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/ciutat.css}">
</head>
<body>
<h1>Detalles de las Ciudades</h1>

<!-- Verificar que la lista de equipos no sea nula -->
<th:block th:if="${equipos != null}">
  <!-- Tabla para mostrar los detalles de los equipos -->
  <table>
    <thead>
    <tr>
      <th>Equipo</th>
      <th>Ciudad</th>
      <th>Logo</th>
    </tr>
    </thead>
    <tbody>
    <!-- Iterar sobre la lista de equipos -->
    <tr th:each="equipo : ${equipos}">
      <td th:text="${equipo.team}">--</td>
      <td th:text="${equipo.city}">--</td>
      <td>
        <img th:src="${equipo.img}" alt="Logo del equipo"/>
      </td>
    </tr>
    </tbody>
  </table>
</th:block>

<!-- Mostrar un mensaje si la lista está vacía -->
<th:block th:unless="${equipos != null}">
  <p>No hay equipos disponibles para mostrar.</p>
</th:block>

</body>
</html>
