<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Detalles de los equipos</title>
  <link rel="stylesheet" type="text/css" href="src/main/resources/CSS/ciutats.css">
</head>
<body>
<h1>Detalles de los Equipos</h1>
<th:block th:if="${equipos != null}">
  <table>
    <thead>
    <tr>
      <th>Equipo</th>
      <th>Ciudad</th>
      <th>Logo</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="equipo : ${equipos}">
      <td th:text="${equipo.team}">--</td>
      <td th:text="${equipo.city}">--</td>
      <td>
        <img th:src="${equipo.img}" alt="Logo del equipo"/>
      </td>
    </tr>
    </tbody>
  </table>
</th:block>
<th:block th:unless="${equipos != null}">
  <p>No hay equipos que se puedan mostrar en este momento.</p>
</th:block>
</body>
</html>